[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
imageio = "*"
torch = "==1.8"
torchvision = "*"
torchaudio = "*"
imbalanced-learn = "*"
torchinfo = "*"
spacy = "*"
torchtext = "==0.8"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
